<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Product Selection</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body class="site-body">
    <div id="app-root"></div>
    <script src="/js/app.js"></script>
  </body>
</html>